<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ti.todo.domain.dao.RoleMapper">
    <select id="getRoleByName" resultType="net.ti.todo.domain.entity.Role">
        SELECT id FROM role
        WHERE
            name = #{roleName}
        LIMIT
            1
    </select>

    <select id="getRoleByEmail" resultType="net.ti.todo.domain.entity.Role">
        SELECT name FROM role
        INNER JOIN
            user_role
            ON user_role.role_id = role.id
        INNER JOIN
            user
            ON user_role.user_id = user.id
        WHERE
            user.email = #{email}
        LIMIT
            1
    </select>
</mapper>